#commentForm
    height 400px

    &__box-edit
        vertical-align top
        display        inline-block
        background     orange
        width          50%
        height         100%

        &__textarea
            width      100%
            height     300px
            background #333
            color      #fff

    &__box-preview
        display    inline-block
        background lightblue
        width      50%
        height     100%
